<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DotaMatchMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DotaMatchMaster.Properties.Settings>
            <setting name="CampStackChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoomDevourCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingLotusSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MidasCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TokenAvailabilityChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TormentorSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WardPurchaseCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CampPullChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BountyRuneSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RuneSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaterRuneSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WisdomRuneSpawnChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BuybackCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrustyShovelCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PirateHatCooldownChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </DotaMatchMaster.Properties.Settings>
    </userSettings>
</configuration>